[submodule "archiveinterface"]
	path = archiveinterface
	url = git@github.com:pacifica/pacifica-archiveinterface.git
[submodule "cartd"]
	path = cartd
	url = git@github.com:pacifica/pacifica-cartd.git
[submodule "policy"]
	path = policy
	url = git@github.com:pacifica/pacifica-policy.git
[submodule "ingest"]
	path = ingest
	url = git@github.com:pacifica/pacifica-ingest.git
[submodule "docs"]
	path = docs
	url = git@github.com:pacifica/pacifica-docs.git
[submodule "metadata"]
	path = metadata
	url = git@github.com:pacifica/pacifica-metadata.git
[submodule "uniqueid"]
	path = uniqueid
	url = git@github.com:pacifica/pacifica-uniqueid.git
[submodule "proxy"]
	path = proxy
	url = git@github.com:pacifica/pacifica-proxy.git
[submodule "python-uploader"]
	path = python-uploader
	url = git@github.com:pacifica/pacifica-python-uploader.git
[submodule "cli-uploader"]
	path = cli-uploader
	url = git@github.com:pacifica/pacifica-cli-uploader.git
[submodule "notifications"]
	path = notifications
	url = git@github.com:pacifica/pacifica-notifications.git
