[submodule "archiveinterface"]
	path = archiveinterface
	url = git@github.com:EMSL-MSC/pacifica-archiveinterface.git
[submodule "uploader"]
	path = uploader
	url = git@github.com:EMSL-MSC/pacifica-uploader.git
[submodule "cartd"]
	path = cartd
	url = git@github.com:EMSL-MSC/pacifica-cartd.git
[submodule "ingest"]
	path = ingest
	url = git@github.com:EMSL-MSC/pacifica-ingest.git
