[submodule "archiveinterface"]
	path = archiveinterface
	url = ../pacifica-archiveinterface.git
[submodule "cartd"]
	path = cartd
	url = ../pacifica-cartd.git
[submodule "policy"]
	path = policy
	url = ../pacifica-policy.git
[submodule "ingest"]
	path = ingest
	url = ../pacifica-ingest.git
[submodule "docs"]
	path = docs
	url = ../pacifica-docs.git
[submodule "metadata"]
	path = metadata
	url = ../pacifica-metadata.git
[submodule "uniqueid"]
	path = uniqueid
	url = ../pacifica-uniqueid.git
[submodule "proxy"]
	path = proxy
	url = ../pacifica-proxy.git
[submodule "python-uploader"]
	path = python-uploader
	url = ../pacifica-python-uploader.git
[submodule "notifications"]
	path = notifications
	url = ../pacifica-notifications.git
[submodule "python-downloader"]
	path = python-downloader
	url = ../pacifica-python-downloader.git
[submodule "cli"]
	path = cli
	url = ../pacifica-cli.git
[submodule "dispatcher"]
	path = dispatcher
	url = ../pacifica-dispatcher.git
[submodule "metadata-mgmt"]
	path = metadata-mgmt
	url = ../pacifica-metadata-mgmt.git
